  <!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:tiles="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org" th:lang="${#locale.language}">
      <head>
        <title>logout page</title>
      </head>
      <body>
      <head th:include="fragment/headTag :: headTag">
        <h1>Wylogowany</h1>
        <form th:action="@{/logout}" method="post">
         <input type="submit" value="Log out" />
             <!-- <input th:name="${_csrf.parameterName}" type="hidden" th:value="${_csrf.token}" /> -->
          
        </form>
      
      </body>
    </html>